.sidebar {
    background-color: white;
    height: 167rem;
    width: 80rem;
    box-shadow: 0 2px 2px rgba(93, 93, 93, 0.18);
    border-radius: 2rem;
    background-color: #ffffff;
    margin-left: 12rem; 
    height: 167rem;
    width: 80rem;
  
}

.paquetes {
    height: 3rem;
    width: 19rem;
    text-shadow: 0 2px 0 #ffffff;
    color: #e1e6e6;
    font-family: Montserrat;
    font-size: 3rem;
    font-weight: 700;
    text-transform: uppercase;
    display: block;
    padding-top: 14rem;
    padding-left: 11rem;
}


.todos-los-grados {
    margin-left: 11rem;
    margin-right: 13rem;
    padding-top: 5rem;
    border-bottom-style: solid;
    border-bottom-color: #000;
    border-color: #f1f6f6;
    

}

.grado {
    padding-bottom: 8rem ;
    color: #747e7e;
    font-family: "Open Sans";
    font-size: 4rem;
    font-weight: 400;
    line-height: 5rem;
    display: block;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color:#019c97 ;
    font-weight: bold;

}

.agregar-paquete {
    width: 37rem;
    height: 3rem;
    text-shadow: 0 2px 0 #ffffff;
    color: #00a09b;
    font-family: Montserrat;
    font-size: 3rem;
    font-weight: 700;
    text-transform: uppercase;
    padding-left: 11rem;
    padding-top: 9rem;
}

.agregar-paquete-interaction {
    display: flex;
    direction: row;

}


.buscador {
    margin-top: 4rem;
    margin-left: 9rem;
    width: 201px;
    height: 47px;
    border-radius: 6rem;
    border: 1px solid #dde4e4;
    background-color: #f1f6f6;
    font-size: 3rem;
    
}

.image-stack {
    margin-top:4rem;
    margin-left: 2rem;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    position: relative;
}

.image-stack__item--top {
    grid-column: 3 / span 8;
    grid-row: 1;
    z-index: 1;
    padding-top: 3.5rem;
    padding-left: 0.3rem;
}

.image-stack__item--bottom {
    grid-column: 1 / span 8;
    grid-row: 1;
}